@use "~@bu0nq/asset-scss-grid/grid";

$column-size: 80px !default;
$gutter-size: 20px !default;

$grid-01: grid.getColumnSize($column-size, $gutter-size, 1);
$grid-02: grid.getColumnSize($column-size, $gutter-size, 2);
$grid-03: grid.getColumnSize($column-size, $gutter-size, 3);
$grid-04: grid.getColumnSize($column-size, $gutter-size, 4);
$grid-05: grid.getColumnSize($column-size, $gutter-size, 5);
$grid-06: grid.getColumnSize($column-size, $gutter-size, 6);
$grid-07: grid.getColumnSize($column-size, $gutter-size, 7);
$grid-08: grid.getColumnSize($column-size, $gutter-size, 8);
$grid-09: grid.getColumnSize($column-size, $gutter-size, 9);
$grid-10: grid.getColumnSize($column-size, $gutter-size, 10);
$grid-11: grid.getColumnSize($column-size, $gutter-size, 11);
$grid-12: grid.getColumnSize($column-size, $gutter-size, 12);
